*{
  margin: 0;
  padding: 0;
  ol, ul, li, h1{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: #333333;
  }
  .nondrag{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
}

html,
body{
width:100%;
overflow-x:hidden;
}


#hd{
  
  .hd-ad{
    background-color: #384d5e;
    transition: 0.3s;
    width: 100vw;
    a{
      padding: 5px 10px;
      &::after{
        content: url(./svg/rightarrow.svg);
        margin-left: 0.5rem;
        display: inline-block;
        transition: 0.3s;
      }
      &:hover::after{
        transform: translateX(40%);
      }
    }    
    p{
      margin: 0;
    }
  }
  
  .hdwrap{
  
    padding:14px 80px;
    &:hover{
      background-color: #000000 !important;
      a{
        color: white !important;
      }
      .language button{
        color: white !important;
      }
    }
  }
  a{
    color: white;
  }
  
  span{
    color: white;
  }
  h1{
    .top-b{
      display: none;
    }
    .top-b-logo{
      display: none;
    }
    a{
      height: 21px;
      display: block;
      img{
        height: 100%;
        display: block;
      }

    }
  }
  .gnb{
    // text-transform: uppercase;
    .product{
      &:hover{
        padding-bottom: 30px;
        margin-bottom: -30px;
        .lnb{
          pointer-events: all;
          opacity: 1;
        }
      }
      .lnb-img:hover+.lnb-text{
        color: #aae0fb !important;
      }
      .lnb-text:hover{
        color: #aae0fb !important;
      }
    }
  }
  .side-nav{
    .top-b{
      display: none;
    }
      >li{
      margin-left: 20px;
      a{
        display: block;
        img{
          transform: scale(0.88);
        }
      }
      button{
        background-color: transparent;
        border: 0;
      }
    }
    .top-b-logo{
      display: none;
    }
    .language{
      ul{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        z-index: 600;
        top: 100%;
        background-color: #000000;
      }
      button{  
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        background-color: transparent;
        border: 0;
        color: white;
        text-align: left;
      }
      &:hover ul{
        max-height: 100px;
      }
    }
  } 
}

#hd.white-img .hd-ad{
  margin-top: -34px;
}


.lnb{
  z-index: 500;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: #0a0a0a;
  padding: 0 15%;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  .lnb-menu{
    margin: 30px 10px;
    width: calc(20% - 50px);
    .lnb-img{
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      &:hover img{
        transform: scale(1);
      }
      >a{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        img{
          width: 100%;
          margin: auto;
          transform: scale(0.85);
          transition: 0.3s;
        }
      }
      
    }
    .lnb-text{
      margin-top: 30px;
      margin-bottom: 20px;
      display: block;
      font-size: 20px;
      transition: 0.8s;
    }
  } 
}



#main-swiper{
  height: 100vh;

  .swiper-slide-active{
    .slide-text{
     
      h2{      
        opacity: 1;
        transform: translateY(0);     
      }
      p{      
        opacity: 1;
        transform: translateY(0);       
      }
      .slide-button{       
        opacity: 1;
        transform: translateY(0);  
      }      
    }
  }
 
  .slide-text{
    align-items: center;
    color: white;
    text-align: center;
    h2{
      font-size: 5rem;
      text-shadow: 0px 0px 8px #f0f0f0;
      opacity: 0;
      transform: translateY(-100%);
      transition: 0.5s;
      transition-delay: 0.5s;
    }
    p{
      text-shadow: 0px 1px 3px rgba($color: #cccccc, $alpha: 0.3);
      opacity: 0;
      transform: translateY(100%);
      transition: 0.5s;
      transition-delay: 0.8s;
    }
    .slide-button{
      margin-top: 2.3rem;
      opacity: 0;
      transform: translateY(100%);
      transition: 0.5s;
      transition-delay: 1.4s;
      a{
        font-size: 20px;
        color: white;
        padding: 10px 26px;
        outline: rgba($color: #fff, $alpha: 0.5) 1px solid;
        text-shadow: 0px 1px 3px rgba($color: #cccccc, $alpha: 0.3);
        &:hover{
          outline: rgba($color: #fff, $alpha: 0.6) 2px solid;
        }
      }
    }
    
  }
}



#benefits{
  background-color: #020202;
  color: white;
  padding: 180px 0 40px 0;
  .benefits-text{
    span{
      font-size: 24px;
    }
    .parcel{      
      // border-right: rgba($color: #fff, $alpha: 0.4) 1px solid;
      // border-left: rgba($color: #fff, $alpha: 0.4) 1px solid;      
      &::before{
        content: url(./svg/parcel.svg);
        display: block;
        margin-right: 10px;
      }
    }
    .guarantee{
      &::before{
        content: url(./svg/guarantee.svg);
        display: block;
        margin-right: 10px;
      }
    }
    .senn-mini-logo{
      margin-left: 19px;
      &::before{
        content: url(./svg/only-logo-w.svg);
        display: block;
        margin-right: 12px;
      }
    }
  }
}



#best-selling{
  background-color: #020202;
  color: white;
  padding: 140px 0 180px 0;
  
  .best-products{
    .b-p-items{
      background-color: white;
      border-radius: 16px;
      padding: 30px 30px;
      a{
        color: #222;
        font-size: 1.2rem;
        font-weight: 600;   
        &:hover{
          +.b-p-more{
            opacity: 1;
          }
        }     
      }
      .b-p-more{
        background-color: rgba($color: #000000, $alpha: 0.6);
        backdrop-filter: blur(3px);
        border-radius: 16px;
        z-index: 100;
        opacity: 0;
        transition: 0.3s;
        &:hover{
          opacity: 1;
        }
        >p{
          color: white;
          font-size: 24px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .item-price{
        .base-price{
          color: #333333;
          font-size: 19px;
        }       
      }
      .b-p-img{
        height: 0;
        padding-bottom: 100%;
        a{
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          img{
            width: 100%;
            margin: auto;
          }
        }
      }
    }
  }
}



#banners{
  .banner-img{
    width: 100%;
    height: 100vh;
    >.banner-bg-img{
      height: 100%;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    .banner-text{
      width: 80vw;
      bottom: 13%;
      left: 6.5%;
      h2{
        font-family: Roboto;
        color: transparent;
        font-size: 10rem;
        // text-shadow: 1px 1px 10px rgb(190, 190, 190);
        -webkit-text-stroke: 1.6px rgb(255, 255, 255);
        line-height: 0.92em;
        margin-bottom: 30px;
        letter-spacing: -0.1rem;
      }
      span{
        color: rgb(244, 244, 244);
        font-size: 1.3rem;
      }
      a{
        transition: 0.3s;
        color: white;
        padding: 14px 20px;
        border: rgba($color: #fff, $alpha: 0.4) 1px solid;
        &::after{          
          content: url(./svg/rightarrow.svg);
          display: inline-block;
          margin-left: 0.7rem;  
          transition: 0.3s;       
        }              
        &:hover::after{
          transform: translateX(40%);
        }
      }
      .banner-button{
        margin-top: 80px;
      }
    }
  }
}






#footer{
  color: white;
  background-color: #020202;
  padding: 35px 80px;
  p{
    margin: 0;
  }
}


.active1{
  
  #hd{ 
    .hdwrap{
      .top-b{
        display: inline-block;
      }
      .top-b-logo{
        display: block;
      }
      .top-w{
        display: none;
      }
      .top-w-logo{
        display: none;
      }
      a{
        color:#222222;
      }
      .side-nav .language button{
        color: #222222;
      }
     &:hover{
      .top-b{
        display: none;
      }
      .top-b-logo{
        display: none;
      }
      .top-w{
        display: inline-block;
      }
      .top-w-logo{
        display: block;
      }
     }
   }
  }
  #hd.white-img{
    .hdwrap{
      .top-b{
        display: none;
      }
      .top-b-logo{
        display: none;
      }
      .top-w{
        display: inline-block;
      }
      .top-w-logo{
        display: block;
      }
      a{
        color:#fff;
      }
      .side-nav .language button{
        color: #fff;
      }
    }
  }
}


#search-popup{
  
  background-color: rgba($color: #000000, $alpha:0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1200;
  .search-wrap{
    height: 100%;
    width: 100%;
    .search-close-button{
      top: 25%;
      right: 10%;
      border: none;
      background-color: transparent;
    }
    .search-input{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);      
      height: 100px;
      width: 80%;   
      padding: 0 32px;
      background-color: #4d4d4d;
      
      input{
        font-size: 1.8rem;
        color: white;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #4d4d4d;
        
        &:focus{
          outline: none;
        }      
        &::placeholder{
          color: rgb(190, 190, 190);
        }   
      }        
      button{
        border: none;
        background-color: transparent;
        background-color: #4d4d4d;
        img{
          width: 37px;
        }
      }
    }
  }  
}



#support{
  .support-banner{
    background: rgba($color: #000000, $alpha: 0.6);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
      .support-text-block{
        img{
          width: 220px;
        }
        color: white;
        padding-top: 8vw;
        h2{
          font-weight: 400;
          font-size: 4rem;
        }
        p{
          margin: 0;
          font-size: 1.6rem;
          font-weight: 200;
          color: #f1f1f1;
        }
        .small-stb{
          margin-top: 30px;
        }
        
      }
      .support-input{
        background-color: rgba($color: #000000, $alpha: 0.7);
        margin-top: 40px;
        button{
            padding: 12px 20px;
            width: 115px;
            font-size: 20px;
            border: none;
            color: white;
            background-color: #555555;
            white-space: nowrap;
            &:hover{
              background-color: #333333;
            }
        }
        .support-mo-search-button{
          display: none;
          background-color: transparent;
          width: 60px;
          right: 0;
          top: -3px;
          &:hover{
            background-color: transparent;
          }
        }
        >div{
          padding: 5% 6%;
          label{
            color: white;
            width: 200px;
            font-size: 22px;
          }
          input{
            
            border: none;
            background-color: #f7f7f7;
            color: #222222;
            padding: 12px 20px;
            font-size: 20px;
            &:focus{
              outline: none;
            } 
          }
        }
        
      }
    }  
  }

  .side-menu{
    background-color: #0a0a0a;
    height: 100vh;
    width: 360px;
    z-index: 1100;
    top: 0;
    right: 0;
    box-shadow: 5px 0 40px 20px rgba($color: #000000, $alpha: 0.7);
    padding: 20px;
    .side-menu-wrap{
      width: 100%;
      height: 100%;
      .menu-close-button{
        border: none;
        background-color: transparent;
        top: 0px;
        right: 0px;
      }
      .side-menu-link{
        padding: 0 20px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        
        .m-gnb{
          a{
            color: white;
          }
          >a{
            font-size: 45px;
            font-weight: 300;
          }
          button{
            background-color: transparent;
            border: none;
            font-size: 30px;
          }
          
        }   
        .m-lnb{
          max-height: 0;
          transition: 0.8s ease-in-out;
          overflow: hidden;
          li{
            padding: 3px 5px;
            a{            
              color: #ffffff;
              font-size: 22px;
              font-weight: 300;
              padding: 0 4px;
            }
          }
          
        }  
        .m-lnb.show-menu{
          max-height: 250px;
        } 
      }
      .side-menu-sub{
        padding: 20px;
        &::after{
          content: url(./svg/only-logo-w.svg);
          position: absolute;
          bottom: -7px;
          right: 0;
          
          
        }
        button{
          border: none;
          background-color: transparent;
          color: white;
          font-weight: 200;
          font-size: 20px;
        }
        a{
         color: white;
         font-weight: 200;
         font-size: 20px;
        }
      }
    }
    
  }


  .menu-icon{
    display: none;
  }
  
  @media screen and (min-width:1200px) {
    
  }

  @media screen and (max-width:1199px) {
    .lnb{
      padding: 0 5%;
    }
    #main-swiper{
      .slide-text{
        h2{
          font-size: 4rem;
        }
      }
    }
  }

@media screen and (max-width:1023px) {
  
  #hd{
    .hdwrap{
      padding: 14px 20px;
      background-color: #000000;
      
    }
  } 
  .active1{
    #hd{
      .hdwrap{
        .top-b{
          display: none;
        }
        .top-b-logo{
          display: none;
        }
        .top-w{
          display: inline-block;
        }
        .top-w-logo{
          display: block;
        }
      }
    }
  }
  .gnb {
    display: none !important;
  }
  .language{
    display: none !important;
  }
  .menu-icon{
    display: block;
  }
  #banners .banner-img .banner-text h2{
    font-size: 7rem;
  }
  .side-menu {
    display: block;
  }
  .m-disable{
    display: none;
  }
}
  
@media screen and (max-width:767px) {
  #best-selling .best-products .b-p-items .b-p-more > p{
    font-size: 16px;
  }
  #banners .banner-img .banner-text h2{
    font-size: 5rem;
  }
  #support .support-banner{
    .support-text-block{
      h2{
        font-size: 3rem;
      }
      p{
        font-size: 1.4rem;
      }
    }  
    .support-input{
      > div{
        label{
          width: 150px;
        } 
      } 
    } 
  }
  .side-menu{
    width: 330px;
  }
  #footer{
    padding: 20px 30px;
    p{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 575px) {
  #support{
    .support-banner{
      .support-input{
        > div{
          label{
            display: none;
          }
          .support-mo-search-button{
            display: inline-block;
          }
          .support-search-button{
            display: none;
          }
          .support-regi{
            flex-direction: column;
            .support-regi-button{
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
} 
@media screen and (max-width: 480px) {
  #banners{
    .banner-img{
      .banner-text{
        h2{
          font-size: 4rem;
        }
      }
    }
  }
} 
@media screen and (max-width: 375px) {
  #hd{
    .hd-ad{
      font-size: 0.8rem;
    }
  }
  .side-menu{
    width: 290px;
    .side-menu-wrap{
      .side-menu-link{
        .m-gnb{
          >a{
            font-size: 35px;
          }
        }
        .m-lnb{
          li{
            a{
              font-size: 20px;
            }
          }
        }
      }
    }
  } 
  #main-swiper{
    .slide-text{
      h2{
        font-size: 3rem;
      }
    }
  }
  #search-popup{
    .search-wrap{
      .search-input{
        height: 84px;
      }
    }
  } 
  #banners{
    .banner-img{
      .banner-text{
        h2{
          font-size: 3rem;
          -webkit-text-stroke: 1px rgb(255, 255, 255)
        }
        span{
          font-size: 1.2rem;
        }
      }
    }
  }
  #benefits{
    padding-top: 140px;
    padding-bottom: 0;
  }
  #best-selling{
    padding-bottom: 100px;
  }
  #support{
    .support-banner{
      .support-text-block{
        padding-top: 80px;
        img{
          width: 160px;
        }
        h2{
          font-size: 2.2rem;
        }
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}