*{
  margin: 0;
  padding: 0;
  ol, ul, li, h1{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: #333333;
  }
}



#hd{
  .hd-ad{
    background-color: #444f58;
    transition: 0.2s;
    a{
      padding: 5px 0;
      &::after{
        content: url(./svg/rightarrow.svg);
        margin-left: 0.5rem;
      }
    }    
    p{
      margin: 0;
    }
  }
  .hd-ad.go-up{
    margin-top: -34px;
  }
  .hdwrap{
    background-color: #000;
    padding:14px 80px;
  }
  a{
    color: white;
  }
  
  span{
    color: white;
  }
  h1{
    a{
      height: 21px;
      display: block;
      img{
        height: 100%;
        display: block;
      }

    }
  }
  .gnb{
    // text-transform: uppercase;
    .product{
      &:hover{
        padding-bottom: 30px;
        margin-bottom: -30px;
        .lnb{
          pointer-events: all;
          opacity: 1;
        }
      }
      .lnb-img:hover+.lnb-text{
        color: #9ce1f1;
      }
      .lnb-text:hover{
        color: #9ce1f1;
      }
    }
  }
  .side-nav{
      >li{
      margin-left: 20px;
      a{
        display: block;
        img{
          transform: scale(0.88);
        }
      }
      button{
        background-color: transparent;
        border: 0;
      }
    }
    .language{
      ul{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        z-index: 600;
        top: 100%;
        background-color: #000000;
      }
      button{  
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        background-color: transparent;
        border: 0;
        color: white;
        text-align: left;
      }
      &:hover ul{
        max-height: 100px;
      }
    }
  }  
  &:hover{   
    .hdwrap{
      background-color: #000000 !important;
    } 
    .language{ 
      a{
      background-color: #000000;
      }
    }
  }
}


  



.lnb{
  z-index: 500;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: #111111;
  padding: 0 15%;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
  .lnb-menu{
    margin: 30px 10px;
    width: calc(20% - 50px);
    .lnb-img{
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      &:hover img{
        transform: scale(1);
      }
      >a{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        img{
          width: 100%;
          margin: auto;
          transform: scale(0.85);
          transition: 0.2s;
        }
      }
      
    }
    .lnb-text{
      margin-top: 30px;
      margin-bottom: 20px;
      display: block;
      font-size: 20px;
      transition: 0.8s;
    }
  }
  
}


#banners{
  .banner-img{
    width: 100%;
    height: 100vh;
    >.banner-bg-img{
      height: 100%;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    .banner-text{
      bottom: 14%;
      left: 6.5%;
      h2{
        font-family: Roboto;
        color: transparent;
        font-size: 10rem;
        // text-shadow: 1px 1px 10px rgb(190, 190, 190);
        -webkit-text-stroke: 1.4px white;
        line-height: 0.92em;
        margin-bottom: 30px;
        letter-spacing: -0.1rem;
      }
      span{
        color: rgb(245, 245, 245);
        font-size: 1.3rem;
      }
      a{
        transition: 0.2s;
        color: white;
        padding: 14px 20px;
        border: rgba($color: #fff, $alpha: 0.4) 1px solid;
        &::after{
          display: inline-block;
          content: url(./svg/rightarrow.svg);
          margin-left: 0.7rem;         
        }              
      }
      .banner-button{
        margin-top: 100px;
      }
    }
  }
}



#footer{
  color: white;
  background-color: #000000;
  padding: 50px 80px;
}
