*{
  margin: 0;
  padding: 0;
}
ol, ul, li, h1{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #333333;
}


/* header */

#hd{
  left: 0;
  right: 0;
  top: 0;
}
.hdwrap{
  height: 60px;
  background-color: #000;
  padding: 0 50px;
}
#hd>div{
  width: 100%;
  height: 100%;
}
#hd a, span{
  color: white;
}
#hd h1>a{
  height: 30px;
  display: block;
}
#hd h1 img{
  height: 100%;
  display: block;
}


.gnb{
  font-weight: bold;
}
.side-nav{
  font-size: 26px;
  height: 26px;
}
.side-nav>li{
  margin-left: 20px;
}
.side-nav>li a{
  display: block;
}


.language{
  margin-right: 10px;
}
#hd .language a{  
  display: block;
  padding: 6px 12px;
  font-size: 16px;
}
.language ul{
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 600;
  transition: 0.5s;
  top: 100%;
}
.language:hover ul{
  max-height: 100px;
}

#hd:hover>div>.hdwrap{
  background-color: #000 !important;
}
#hd:hover .language a{
  background-color: #000;
}


.lnb{
  z-index: 500;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: #141414;
  padding: 0 15%;
  text-align: center;
}
.lnb-menu{
  margin: 30px 10px;
  width: calc(20% - 50px);
}
.lnb-img{
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.lnb-img>a{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
}
.lnb-menu img{
  width: 100%;
  margin: auto;
  transform: scale(0.85);
  transition: 0.2s;
}
.lnb-text{
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
  transition: 0.8s;
}

.lnb-img>a:hover>img{
  transform: scale(1);
}
.lnb{
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
.product:hover{
  padding-bottom: 30px;
  margin-bottom: -30px;
}
.product:hover .lnb{
  pointer-events: all;
}
.product:hover .lnb{
  opacity: 1;
}
#hd .product .lnb-img:hover+.lnb-text{
  color: #8bc9ea;
}
#hd .product .lnb-text:hover{
  color: #8bc9ea;
}



/* banners */

.banner-img{
  width: 100%;
  height: 100vh;
}
.banner-img>div{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
