@font-face {
    font-family: DMSans;
    src: url(./fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: NotoSansKR;
    src: url(./fonts/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Black.ttf);
}